Learning1/Learning1/obj/
Learning1/.vs/Learning1/v16/.suo
Learning1/Learning1/Learning1.csproj
Learning1/Learning1/bin/
Learning1/DemoAssembly2/obj/
Learning1/DemoAssemby1/obj/
Learning1/Learning1/Learning1.csproj.user
Learning1/Learning1/Properties/launchSettings.json
Learning1/
